.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.w-320{
  width: 320px;
}
.mt-70{
  margin-top: 70px;
}
.ml-50{
  margin-left: 50px;
}
.mt-50{
  margin-top: 50px !important;
}
.mt-55{
  margin-top: 55px !important;
}
.ml-35{
  margin-left: 35px;
}
.pr-50{
  padding-right: 50px;
}
.pt-70{
  padding-top: 120px;
}
.h-445{
  height: 445px;
}
.list-style-none{
  list-style-type: none;
}
.min-h-600{
  min-height: 600px !important;
}
.min-h-250{
  min-height: 25rem !important;
}
html{
  scroll-behavior: smooth;
}
.cursor-pointer{
  cursor: pointer;
}

#bookImage:hover{
  transform: scale(1.2);
  transition: transform 0.5s ease;
  cursor: zoom-in;
}
#bookImage:not(:hover){
  transform: scale(1);
  transition: transform 0.5s ease;
}